body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: hsl(175, 62%, 85%);
}

header {
    background: #84d2e0;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav {
    background: #599bc2;
    color: #d8f2f8;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 10px;
    background: #c3e7f0;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #fcf9f9;
}

th, td {
    padding: 8px;
    text-align: left;
}

.imagenes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.imagenes img {
    width: 30%;
    margin: 10px 0;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}
